.Black {
  height: 15px;
  width: 15px;
  box-shadow: inset 0 0 2px black;
}

#gameArea {
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#buttons {
  display: flex;
  flex-direction: column;
}
button {
  margin: 5px;
}
